<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sanoapplication002.ne.jp.sanoapplication002">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SANOApplication002">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:label="@string/GPSSetting_app_name" android:name="GPSSetting"></activity>
        <activity android:name="DBSetting"></activity>
        <uses-library android:name="com.google.android.maps" ></uses-library>
        <service android:enabled="true" android:name="GPS_Service_ModeA"></service>
        <service android:name="GPS_Service_ModeB"></service>
        <service android:name="GPS_Service_ModeC"></service>
        <service android:name="GPS_Service_ModeD"></service>
        <receiver android:name="ReceiveLocation"></receiver>

    </application>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"></uses-permission>


</manifest>